@font-face {
    font-family: "Trueno";
    src: url("/fonts/truenobd.otf") format("opentype");
}
* {
    box-sizing: border-box;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    background-color: #e8eef5 ;
    width: 100vw;
    height: 100vh;
    margin:30px;
    border-radius:25px;
    color: #0f012a;
    font-family: "Trueno";
}

.row {
    display: flex;
}

