
* {
    box-sizing:border-box ;
    margin:0px;
    font-family: "Nanum Myeongjo";
}

body {
    color : #282934;
    margin: 38px 32px;
    margin : 2rem;
}

header {
    text-transform: uppercase;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Open Sans', sans-serif;

}

header>p {
    font-weight: bold;
}

h1 {
    margin: 15px 0px;
    font-family: 'Nanum Myeongjo', serif;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}

p {
    margin: 15px 0px;
    font-weight : 500;
    font-size : 1rem;
    font-family: "Poppins";
}

.container {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: center;
}

button {
    background-color: #282934;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    width: 100%;
    font-family: "Poppins";
    font-size : 1em;
    margin-top : 1rem;
}