@font-face {
    font-family: "Trueno";
    src: url("/fonts/truenobd.otf") format("opentype");
}

@font-face {
    font-family: "TruenoEXB";
    src : url("/fonts/truenoexbd.otf") format("opentype");
}

@font-face {
    font-family: "Azimov";
    src : url("fonts/asimovxwid.otf") format("opentype");
}

@media only screen and (min-width:768px) {
    .row {
        margin:0px;
        padding-left: 75px;
        padding-bottom: 50px;
        padding-top: 66px;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    height: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    background-color: #e8eef5;
    width: auto;
    height: 100%;
    margin: 15px;
    border-radius: 25px;
    color: #0f012a;
    font-family: "Trueno";
    font-size: 18px;
}

.row {
    display: flex;
    padding: 25px;
    border: 2px solid white;
    align-items: center;
}


h2 {
    font-family: "TruenoEXB";
}

.lorem {
    font-size: 14px;
    display: flex;
    align-items: center;
    font-family: "Azimov";
    margin-left: 20px;
    line-height: 1.5;
}

h1 {
    font-size: 150%;
    white-space: nowrap;
}


/*Pourquoi je parviens a le positionner dans l'inspector mais pas ici?!
.fa-check {
    display: flex;
    align-items: center;
}

*/

