@font-face {
    font-family: "GoodTimes";
    src : url("/fonts/MADE\ GoodTime\ Grotesk\ PERSONAL\ USE.otf") format("opentype");
}

@font-face {
    font-family: "ViceCity";
    src : url("fonts/ViceCitySans-Light.otf") format("opentype");
}


* {
    box-sizing: border-box;
    margin: 0;
    height: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    height: fit-content;
    background-color: #e8eef5;
    margin: 8px;
    color: #0f012a;;
    font-size: 18px;
}

.row {
    display: flex;
    padding: 38px 35px;
    border: 2px solid white;
    align-items: center;
    font-weight:900;
}


h1 {
    font-size: 150%;
    white-space: nowrap;
    font-family: "GoodTimes", Arial, Helvetica, sans-serif;;
}

.lorem {
    font-size: 96%;
    display: flex;
    align-items: center;
    font-family: "ViceCity", Arial, Helvetica, sans-serif;;
    margin-left: 20px;
    line-height: 1.5;
}


/*Pourquoi je parviens a le positionner dans l'inspector mais pas ici?!
.fa-check {
    display: flex;
    align-items: center;
}

*/

@media only screen and (min-width:600px) {
    .lorem {
        font-size: 125%;
    }

    .row {
        padding: 32px 60px;
    }

    h1 {
        margin: 0px;
        font-size: 180%;
    }

    #container {
        margin:18px;
    }
}